[Unit]
Description=gpio fan control service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/gpio_fan_control.py

[Install]
WantedBy=multi-user.target


#sudo systemctl enable gpio-fan-control.service
